<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<app-language-picker [user]="user" (langPicked)="onLangPicked($event)"></app-language-picker>

<button mat-icon-button [mat-menu-trigger-for]="profile" class="m-r-5">
    <mat-icon>person</mat-icon>
</button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <a mat-menu-item routerLink="/profile">
        <mat-icon>account_box</mat-icon>
        {{'Profile.Label.Profile' | translate }}
    </a>
    <button mat-menu-item (click)="changePassword()">
        <mat-icon>security</mat-icon>
        {{'Profile.Label.ChangePassword' | translate }}
    </button>
    <button mat-menu-item (click)="handleLogout()">
        <mat-icon>exit_to_app</mat-icon>
        {{'Auth.Label.Logout' | translate }}
    </button>
</mat-menu>
