<form [formGroup]="colorForm" (ngSubmit)="submit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{title | translate}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row wrap" fxLayoutGap.gt-xs="10px">
                <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100">
                    <mat-form-field>
                        <input matInput placeholder="{{'Common.Label.Name' | translate}}" formControlName="name"
                               maxlength="20"/>
                        <mat-error *ngIf="handleError('name', 'required')">
                            {{'Common.ValidationMessage.FieldRequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100">
                    <mat-form-field>
                        <input matInput placeholder="{{'Common.Label.Value' | translate}}" formControlName="value"
                               maxlength="7"/>
                        <mat-error *ngIf="handleError('value', 'required')">
                            {{'Common.ValidationMessage.FieldRequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="end" fxLayoutGap.gt-xs="5px">
            <button mat-button (click)="location.back()">
                {{'Common.Button.Cancel' | translate }}
            </button>
            <button [disabled]="isLoading$ | async" mat-flat-button color="primary">
                {{'Common.Button.Save' | translate }}
            </button>
        </mat-card-actions>
    </mat-card>
</form>
