<div fxLayout="row wrap" fxLayoutGap="10px">
    <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100">
        <app-search-box (onSubmit)="search($event)"></app-search-box>
    </div>
    <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100" style="padding-top: 3px;" *ngIf="editable">
        <a mat-flat-button color="accent" routerLink="add">
            <mat-icon>add</mat-icon>
            {{'Common.Button.Add' | translate}}
        </a>
    </div>
</div>

<table mat-table [dataSource]="userList$ | async" class="table table-rasponsive" matSort matSortActive="name"
       matSortDirection="desc">

    <ng-container matColumnDef="select" *ngIf="selectable">
        <th mat-header-cell *matHeaderCellDef class="col-action">
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-radio-button (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
            </mat-radio-button>
        </td>
    </ng-container>

    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'User.Label.Username' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.username}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Common.Label.Email' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Common.Label.FirstName' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.detail ? row.detail.name : ''}}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Common.Label.LastName' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.detail ? row.detail.lastName : ''}}</td>
    </ng-container>

    <ng-container matColumnDef="hasAccess">
        <th mat-header-cell *matHeaderCellDef class="text-center">{{'User.Label.Access' | translate}}</th>

        <td mat-cell *matCellDef="let row" class="text-center">
            <mat-slide-toggle
                    matTooltip="Conceder o Quitar acceso al sistema"
                    [checked]="!!row.hasAccess"
                    [disabled]="row.unregisteredAt ? 'disabled' : null"
                    (change)="onAccessChange($event, row)"
            >
            </mat-slide-toggle>
        </td>
    </ng-container>

    <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef class="text-center">{{'Common.Label.Status' | translate}}</th>
        <td mat-cell *matCellDef="let row" class="text-center">
            <mat-icon *ngIf="row.unregisteredAt; else activeIcon" matTooltip="{{'Common.Label.Inactive' | translate}}"
                      color="warn">
                remove_circle_outline
            </mat-icon>
            <ng-template #activeIcon>
                <mat-icon matTooltip="{{'Common.Label.Active' | translate}}">check</mat-icon>
            </ng-template>
        </td>
    </ng-container>

    <ng-container matColumnDef="action" *ngIf="editable">
        <th mat-header-cell *matHeaderCellDef class="col-action">{{'Common.Label.Action' | translate}}</th>
        <td mat-cell *matCellDef="let row" class="col-action">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <a mat-menu-item color="primary" [routerLink]="[row.id]">
                    <mat-icon>edit</mat-icon>
                    {{'Common.Button.Edit' | translate}}
                </a>
                <button mat-menu-item (click)="toggleUnregister(row)">
                    <mat-icon>{{ row.unregisteredAt ? 'check_circle' : 'delete'}}</mat-icon>
                    {{ (row.unregisteredAt ? 'Common.Button.Activate' : 'Common.Button.Delete') | translate}}
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>

<mat-paginator [length]="usersTotal$ | async" [pageSize]="initialPageSize" [pageSizeOptions]="[10, 25, 50, 100]">
</mat-paginator>
