<h2 mat-dialog-title>{{'Profile.Label.ChangePassword' | translate}}</h2>
<form [formGroup]="changePasswordForm" >
    <mat-dialog-content>
        <div fxLayout="column wrap">
            <div fxFlex="100">
                <mat-form-field>
                    <input matInput placeholder="{{'Profile.Label.OldPassword' | translate}}" type="password"
                           minlength="6" maxlength="255" formControlName="oldPassword">
                    <mat-error *ngIf="handleError('oldPassword', 'required')">
                        {{'Common.ValidationMessage.FieldRequired' | translate}}
                    </mat-error>
                    <mat-error *ngIf="handleError('oldPassword', 'minlength')">
                        {{'Common.ValidationMessage.MinLength' | translate}}
                    </mat-error>
                    <mat-error *ngIf="handleError('oldPassword', 'maxlength')">
                        {{'Common.ValidationMessage.MaxLength' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100">
                <mat-form-field>
                    <input matInput placeholder="{{'Profile.Label.NewPassword' | translate}}"
                           [type]="hidePassword ? 'password' : 'text'"
                           minlength="6" maxlength="255" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="handleError('password', 'required')">
                        {{'Common.ValidationMessage.FieldRequired' | translate}}
                    </mat-error>
                    <mat-error *ngIf="handleError('password', 'minlength')">
                        {{'Common.ValidationMessage.MinLength' | translate}}
                    </mat-error>
                    <mat-error *ngIf="handleError('password', 'maxlength')">
                        {{'Common.ValidationMessage.MaxLength' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100">
                <mat-form-field>
                    <input matInput placeholder="{{'Profile.Label.ConfirmPassword' | translate}}"
                           [type]="hideRepeatedPassword ? 'password' : 'text'"
                           minlength="6" maxlength="255" formControlName="confirmPassword">
                    <button mat-icon-button matSuffix (click)="hideRepeatedPassword = !hideRepeatedPassword"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeatedPassword">
                        <mat-icon>{{hideRepeatedPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="handleError('confirmPassword', 'mismatch')">
                        {{'Profile.Label.PasswordMismatch' | translate}}
                    </mat-error>
                    <mat-error *ngIf="handleError('confirmPassword', 'minlength')">
                        {{'Common.ValidationMessage.MinLength' | translate}}
                    </mat-error>
                    <mat-error *ngIf="handleError('confirmPassword', 'maxlength')">
                        {{'Common.ValidationMessage.MaxLength' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>
            {{'Common.Button.Cancel' | translate }}
        </button>
        <button mat-flat-button [disabled]="(isLoading$ | async) || changePasswordForm.invalid" color="primary"
                (click)="submit()">
            {{'Common.Button.Acept' | translate}}
        </button>
    </mat-dialog-actions>
</form>
