<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-title>
            {{'User.Label.AddUser' | translate}}
        </mat-card-title>
        <mat-card-content>
            <div fxLayout="row wrap">
                <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="p-r-10">
                    <mat-form-field>
                        <input matInput placeholder="{{'User.Label.Username' | translate}}" formControlName="username"/>
                        <mat-error *ngIf="handleError('username', 'required')">
                            {{'Common.ValidationMessage.FieldRequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="p-r-10">
                    <mat-form-field>
                        <input matInput placeholder="{{'Common.Label.Email' | translate}}" formControlName="email"/>
                        <mat-error *ngIf="handleError('email', 'required')">
                            {{'Common.ValidationMessage.FieldRequired' | translate}}
                        </mat-error>
                        <mat-error *ngIf="handleError('email', 'email')">
                            {{'Common.ValidationMessage.InvalidEmail' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row wrap">
                <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="p-r-10">
                    <mat-form-field>
                        <input matInput placeholder="{{'Common.Label.FirstName' | translate}}"
                               formControlName="firstName"/>
                        <mat-error *ngIf="handleError('firstName', 'required')">
                            {{'Common.ValidationMessage.FieldRequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="p-r-10">
                    <mat-form-field>
                        <input matInput placeholder="{{'Common.Label.LastName' | translate}}"
                               formControlName="lastName"/>
                        <mat-error *ngIf="handleError('lastName', 'required')">
                            {{'Common.ValidationMessage.FieldRequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button [disabled]="loading" mat-flat-button color="primary">
                {{'Common.Button.Submit' | translate }}
            </button>
        </mat-card-actions>
    </mat-card>
</form>
