<div class="title-group">
    <h1 class="mat-h1">Add user</h1>
    <mat-divider></mat-divider>
</div>

<mat-card fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header>
        <mat-card-title>User detail</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input type="email" matInput placeholder="{{'Common.Label.Email' |translate}}" formControlName="email"/>
                <mat-error *ngIf="handleError('email', 'required')">
                    {{'Common.ValidationMessage.FieldRequired' | translate}}
                </mat-error>
                <mat-error *ngIf="handleError('email', 'email')">
                    {{'Common.ValidationMessage.InvalidEmail' | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="{{'Common.Label.FirstName' | translate}}" formControlName="firstName"/>
                <mat-error *ngIf="handleError('firstName', 'required')">
                    {{'Common.ValidationMessage.FieldRequired' | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="{{'Common.Label.LastName' | translate}}" formControlName="lastName"/>
                <mat-error *ngIf="handleError('lastName', 'required')">
                    {{'Common.ValidationMessage.FieldRequired' | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput  [matDatepicker]="picker" [max]="maxDate"
                       placeholder="{{'Common.Label.DateOfBirth' | translate}}" formControlName="dob"/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="handleError('dob', 'required')">
                    {{'Common.ValidationMessage.FieldRequired' | translate}}
                </mat-error>
            </mat-form-field>

            <mat-card-actions align="end">
                <button [disabled]="loading" mat-raised-button color="primary">
                    {{'Common.Button.Submit' | translate}}
                </button>
            </mat-card-actions>

            <mat-card-footer>
                <mat-error *ngIf="error" align="center">
                    {{error}}
                </mat-error>
            </mat-card-footer>
        </form>
    </mat-card-content>
</mat-card>

