<mat-card>
    <mat-card-content>
        <div class="d-flex flex-wrap">
            <div>
                <mat-card-title>
                    {{'Contract.Label.Contracts' | translate}}
                </mat-card-title>
                <mat-card-subtitle> {{'Contract.Label.ContractList' | translate}}</mat-card-subtitle>
            </div>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="10px">
<!--            <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100">-->
<!--                <app-search-box (onSubmit)="search($event)"></app-search-box>-->
<!--            </div>-->
            <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100" *ngIf="editable" style="padding-top: 3px;">
                <button mat-flat-button color="accent" (click)="showDialog()" *ngIf="editable">
                    <mat-icon>add</mat-icon>
                    {{'Common.Button.Add' | translate}}
                </button>
            </div>
        </div>

        <table mat-table [dataSource]="contractList$ | async" class="table table-rasponsive" matSort
               matSortActive="company"
               matSortDirection="desc">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="col-action">
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-radio-button (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)"
                                      [aria-label]="checkboxLabel(row)"
                                      name="contract-selection">
                    </mat-radio-button>
                </td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'City.Label.City' | translate}}</th>
                <td mat-cell *matCellDef="let row">{{row.city.name}}</td>
            </ng-container>

            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Company.Label.Company' | translate}}</th>
                <td mat-cell *matCellDef="let row">{{row.company.name}}</td>
            </ng-container>

            <ng-container matColumnDef="finishedAt">
                <th mat-header-cell *matHeaderCellDef class="col-action">{{'Common.Label.Status' | translate}}</th>
                <td mat-cell *matCellDef="let row" class="col-action">
                    <mat-icon
                            [ngClass]="row.finishedAt ? 'text-muted' : 'text-dark'">{{ row.finishedAt ? 'lock' : 'lock_open'}}</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="col-action">{{'Common.Label.Action' | translate}}</th>
                <td mat-cell *matCellDef="let row" class="col-action">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="showDialog(row)">
                            <mat-icon>visibility</mat-icon>
                            {{'Contract.Button.ShowContract' | translate}}
                        </button>
                        <button mat-menu-item (click)="closeContract(row)" *ngIf="!row.finishedAt">
                            <mat-icon>lock</mat-icon>
                            {{ 'Contract.Button.CloseContract' | translate}}
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <!-- Loading status row -->
            <ng-container matColumnDef="loading-status">
                <th mat-header-cell *matHeaderCellDef [colSpan]="displayedColumns.length" class="header-row-loading"
                    [ngStyle]="{'display': (isLoading$ | async) ? 'table-cell' : 'none'}">
                    <mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>
                </th>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-header-row *matHeaderRowDef="['loading-status']" class="header-row-loading"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                class="custom-row"
                [ngClass]="selection.isSelected(row) ? 'custom-row-selected' : ''">
            </tr>
        </table>

        <mat-paginator [length]="contractsTotal$ | async" [pageSize]="initialPageSize"
                       [pageSizeOptions]="[10, 25, 50, 100]">
        </mat-paginator>
    </mat-card-content>
</mat-card>
