<mat-card>
    <mat-card-content>
        <div class="d-flex flex-wrap">
            <div>
                <mat-card-title>
                    {{'Brand.Label.Brands' | translate}}
                </mat-card-title>
                <mat-card-subtitle>Listado de marcas</mat-card-subtitle>
            </div>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="10px">
            <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100">
                <app-search-box (onSubmit)="search($event)"></app-search-box>
            </div>
            <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100" *ngIf="editable" style="padding-top: 3px;">
                <button mat-flat-button color="accent" (click)="showDialog()" *ngIf="editable">
                    <mat-icon>add</mat-icon>
                    {{'Common.Button.Add' | translate}}
                </button>
            </div>
        </div>

        <table mat-table [dataSource]="brandList$ | async" class="table table-rasponsive" matSort matSortActive="name"
               matSortDirection="desc">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="col-action">
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-radio-button (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)"
                                      [aria-label]="checkboxLabel(row)">
                    </mat-radio-button>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Common.Label.Name' | translate}}</th>
                <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="col-action">{{'Common.Label.Action' | translate}}</th>
                <td mat-cell *matCellDef="let row" class="col-action">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item color="primary" (click)="showDialog(row)">
                            <mat-icon>edit</mat-icon>
                            <span> {{'Common.Button.Edit' | translate}}</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                class="custom-row"
                [ngClass]="selection.isSelected(row) ? 'custom-row-selected' : ''">
            </tr>
        </table>

        <mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>

        <mat-paginator [length]="brandsTotal$ | async" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]">
        </mat-paginator>
    </mat-card-content>
</mat-card>
