<h2 mat-dialog-title>{{data.title | translate}}</h2>
<form [formGroup]="driverAssigmentForm">
    <mat-dialog-content>
        <div fxLayout="column wrap" fxLayoutGap.gt-xs="10px">
            <div fxFlex="100">
                <mat-form-field>
                    <input readonly matInput placeholder="{{'Driver.Label.Driver' | translate}}"
                           formControlName="driverUser" [value]="driverToString()"/>
                    <button mat-stroked-button matSuffix style="top: -10px; margin-right: 5px;"
                            *ngIf="!data.driverAssigment?.endAt"
                            (click)="showDriverUserListDialog()"
                            matTooltip="{{'User.Label.SelectUser' | translate}}">
                        <mat-icon>person</mat-icon>
                    </button>
                    <mat-error *ngIf="handleError('driverUser', 'required')">
                        {{'Common.ValidationMessage.FieldRequired' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>
            {{'Common.Button.Cancel' | translate }}
        </button>
        <button mat-flat-button color="primary"
                *ngIf="!data.driverAssigment?.endAt"
                [disabled]="(isLoading$ | async) || driverAssigmentForm.invalid"
                (click)="submit()">
            {{'Common.Button.Save' | translate}}
        </button>
    </mat-dialog-actions>
</form>

