<div fxLayout="row wrap" fxLayoutGap="10px">
    <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100">
        <app-search-box (onSubmit)="search($event)"></app-search-box>
    </div>
    <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100" *ngIf="editable" style="padding-top: 3px;">
        <a mat-flat-button color="accent" routerLink="add" *ngIf="editable">
            <mat-icon>add</mat-icon>
            {{'Common.Button.Add' | translate}}
        </a>
    </div>
</div>

<table mat-table [dataSource]="vehicleList$ | async" class="table table-rasponsive" matSort matSortActive="name"
       matSortDirection="desc">

    <ng-container matColumnDef="plateNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Vehicle.Label.PlateNumber' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.plateNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Vehicle.Label.Name' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Vehicle.Label.Brand' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.brand.name}}</td>
    </ng-container>

    <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Vehicle.Label.Model' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.model.name}}</td>
    </ng-container>

    <ng-container matColumnDef="ownerCompany">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Common.Label.Owner' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{getOwnerName(row)}}</td>
    </ng-container>

    <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef class="text-center">{{'Common.Label.Active' | translate}}</th>
        <td mat-cell *matCellDef="let row" class="text-center">
            <mat-icon *ngIf="row.removeAt; else activeIcon" matTooltip="{{'Common.Label.Inactive' | translate}}"
                      color="warn">
                remove_circle_outline
            </mat-icon>
            <ng-template #activeIcon>
                <mat-icon matTooltip="{{'Common.Label.Active' | translate}}">check</mat-icon>
            </ng-template>
        </td>
    </ng-container>


    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="col-action">{{'Common.Label.Action' | translate}}</th>
        <td mat-cell *matCellDef="let row" class="col-action">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <a mat-menu-item color="primary" [routerLink]="[row.id]">
                    <mat-icon>edit</mat-icon>
                    <span> {{'Common.Button.Edit' | translate}}</span>
                </a>
                <!--                        <button mat-menu-item (click)="deleteVehicle(row.id)">-->
                <!--                            <mat-icon>delete</mat-icon>-->
                <!--                            <span> {{'Common.Button.Delete' | translate}}</span>-->
                <!--                        </button>-->
            </mat-menu>
        </td>
    </ng-container>

    <!-- Loading status row -->
    <ng-container matColumnDef="loading-status">
        <th mat-header-cell *matHeaderCellDef [colSpan]="displayedColumns.length" class="header-row-loading"
            [ngStyle]="{'display': (isLoading$ | async) ? 'table-cell' : 'none'}">
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>
        </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="['loading-status']" class="header-row-loading"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="vehiclesTotal$ | async" [pageSize]="initialPageSize"
               [pageSizeOptions]="[10, 25, 50, 100]">
</mat-paginator>
