<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <form [formGroup]="entryPointForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-title>
                {{'EntryPoint.Label.SelectEntryPoint' | translate}}
            </mat-card-title>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>{{'EntryPoint.Label.City' | translate}}</mat-label>
                    <mat-select formControlName="entrypoint">
                        <mat-option *ngFor="let item of entryPoints" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="handleError('entrypoint', 'required')">
                        {{'Common.ValidationMessage.FieldRequired' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-progress-bar mode="indeterminate" [style.display]="loading ? 'block' : 'none'"></mat-progress-bar>
                <mat-error *ngIf="error" align="center">
                    {{error}}
                </mat-error>
            </mat-card-content>
            <mat-card-actions>
                <button [disabled]="loading || entryPointForm.invalid" mat-raised-button color="primary"
                        class="btn-block">
                    {{'EntryPoint.Button.Operate' | translate}}
                </button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
