<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->

<button mat-button [matMenuTriggerFor]="menu">
    <img src="assets/images/flags/{{ user.lang }}.svg" height="90%"/>
</button>
<mat-menu #menu="matMenu" style="padding: 0px !important;">
    <button mat-menu-item *ngFor="let lang of langs" (click)="changeLang(lang)">
        <img src="assets/images/flags/{{lang}}.svg" height="90%"/>
    </button>
</mat-menu>

<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
    <img src="assets/images/users/1.jpg" alt="user" class="profile-pic"/>
</button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        Settings
    </button>
    <a mat-menu-item routerLink="/admin">
        <mat-icon>account_box</mat-icon>
        Profile
    </a>
    <a mat-menu-item routerLink="/admin">
        <mat-icon>security</mat-icon>
        Admin area
    </a>
    <button mat-menu-item (click)="handleLogout()">
        <mat-icon>exit_to_app</mat-icon>
        Sign Out
    </button>
</mat-menu>
