<form [formGroup]="userForm">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{title | translate}}
            </mat-card-title>
            <mat-card-subtitle *ngIf="subtitle">
                {{subtitle | translate}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row wrap" fxLayoutGap.gt-xs="10px">
                <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100">
                    <mat-form-field>
                        <input matInput placeholder="{{'User.Label.Username' | translate}}" formControlName="username"
                               minlength="5" maxlength="255" />
                        <mat-error *ngIf="handleError('username', 'required')">
                            {{'Common.ValidationMessage.FieldRequired' | translate}}
                        </mat-error>
                        <mat-error *ngIf="handleError('username', 'minlength')">
                            {{'Common.ValidationMessage.MinLength' | translate}}
                        </mat-error>
                        <mat-error *ngIf="handleError('username', 'maxlength')">
                            {{'Common.ValidationMessage.MaxLength' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100">
                    <mat-form-field>
                        <input matInput placeholder="{{'Common.Label.Email' | translate}}" formControlName="email"
                               maxlength="255" />
                        <mat-error *ngIf="handleError('email', 'required')">
                            {{'Common.ValidationMessage.FieldRequired' | translate}}
                        </mat-error>
                        <mat-error *ngIf="handleError('email', 'email')">
                            {{'Common.ValidationMessage.InvalidEmail' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-xs="calc(75%-10px)" fxFlex="100" *ngIf="!hideRole">
                    <mat-form-field>
                        <mat-select placeholder="{{'User.Label.Roles' | translate}}" formControlName="roles"
                                    multiple>
                            <mat-select-trigger>
                                <mat-chip-list #chipList aria-label="Fruit selection">
                                    <mat-chip *ngFor="let selectedRole of userForm.value.roles"
                                              [removable]="removable" (removed)="removeSelectedRole(selectedRole)">
                                        {{'Role.' + selectedRole  | translate}}
                                        <mat-icon matChipRemove>cancel</mat-icon>
                                    </mat-chip>
                                </mat-chip-list>
                            </mat-select-trigger>
                            <mat-option *ngFor="let role of roles"
                                        [value]="role">{{'Role.' + role  | translate}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="handleError('roles', 'required')">
                            {{'Common.ValidationMessage.FieldRequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-xs="calc(25%-10px)" fxFlex="100" *ngIf="!hideRole">
                    <mat-slide-toggle formControlName="hasAccess" (change)="onHasAccessChange($event)"
                                      style="margin-top: 15px;">
                        Acceso
                    </mat-slide-toggle>
                </div>
                <ng-template [ngIf]="userForm.value.hasAccess && !user">
                    <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100">
                        <mat-form-field>
                            <input matInput placeholder="{{'Common.Label.Password' | translate}}"
                                   [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                            <mat-error *ngIf="handleError('password', 'required')">
                                {{'Common.ValidationMessage.FieldRequired' | translate}}
                            </mat-error>
                            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100">
                        <mat-form-field>
                            <input matInput placeholder="{{'Profile.Label.ConfirmPassword' | translate}}"
                                   [type]="hideRepeatedPassword ? 'password' : 'text'"
                                   formControlName="confirmPassword">
                            <button mat-icon-button matSuffix (click)="hideRepeatedPassword = !hideRepeatedPassword"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeatedPassword">
                                <mat-icon>{{hideRepeatedPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="handleError('confirmPassword', 'mismatch')">
                                {{'Profile.Label.PasswordMismatch' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </ng-template>
            </div>
            <mat-tab-group formGroupName="detail" dynamicHeight>
                <mat-tab label="{{'Common.Label.Details' | translate}}">
                    <div fxLayout="row wrap" fxLayoutGap.gt-xs="10px">
                        <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="{{'Common.Label.FirstName' | translate}}"
                                       formControlName="name" maxlength="45" />
                                <mat-error *ngIf="handleError('name', 'required')">
                                    {{'Common.ValidationMessage.FieldRequired' | translate}}
                                </mat-error>
                                <mat-error *ngIf="handleError('name', 'maxlength')">
                                    {{'Common.ValidationMessage.MaxLength' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="{{'Common.Label.LastName' | translate}}"
                                       formControlName="lastName" maxlength="45" />
                                <mat-error *ngIf="handleError('lastName', 'required')">
                                    {{'Common.ValidationMessage.FieldRequired' | translate}}
                                </mat-error>
                                <mat-error *ngIf="handleError('lastName', 'maxlength')">
                                    {{'Common.ValidationMessage.MaxLength' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap.gt-xs="10px">
                        <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100">
                            <mat-form-field>
                                <mat-select placeholder="{{'User.Label.DocumentType' | translate}}"
                                            formControlName="documentType">
                                    <mat-option *ngFor="let item of documentTypes"
                                                [value]="item.id">{{item.name| translate}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="handleError('documentType', 'required')">
                                    {{'Common.ValidationMessage.FieldRequired' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="{{'User.Label.IdentificationDocument' | translate}}"
                                       formControlName="identificationDocument" maxlength="9" minlength="9"/>
                                <mat-error *ngIf="handleError('identificationDocument', 'required')">
                                    {{'Common.ValidationMessage.FieldRequired' | translate}}
                                </mat-error>
                                <mat-error *ngIf="handleError('identificationDocument', 'minlength')">
                                    {{'Common.ValidationMessage.MinLength' | translate}}
                                </mat-error>
                                <mat-error *ngIf="handleError('identificationDocument', 'maxlength')">
                                    {{'Common.ValidationMessage.MaxLength' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap.gt-xs="10px">
                        <div fxFlex.gt-xs="calc(30%-10px)" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="{{'Common.Label.Phone' | translate}}"
                                       formControlName="mainContactPhone" minlength="9" maxlength="20"/>
                                <mat-error *ngIf="handleError('mainContactPhone', 'required')">
                                    {{'Common.ValidationMessage.FieldRequired' | translate}}
                                </mat-error>
                                <mat-error *ngIf="handleError('mainContactPhone', 'minlength')">
                                    {{'Common.ValidationMessage.MinLength' | translate}}
                                </mat-error>
                                <mat-error *ngIf="handleError('mainContactPhone', 'maxlength')">
                                    {{'Common.ValidationMessage.MaxLength' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="calc(30%-10px)" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="{{'User.Label.SecondaryPhone' | translate}}"
                                       formControlName="secondaryContactPhone" minlength="9" maxlength="45"/>
                                <mat-error *ngIf="handleError('secondaryContactPhone', 'minlength')">
                                    {{'Common.ValidationMessage.MinLength' | translate}}
                                </mat-error>
                                <mat-error *ngIf="handleError('secondaryContactPhone', 'maxlength')">
                                    {{'Common.ValidationMessage.MaxLength' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="calc(40%-10px)" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="{{'User.Label.BankAccountNumber' | translate}}"
                                       formControlName="bankAccountNumber" maxlength="24"/>
                                <mat-error *ngIf="handleError('bankAccountNumber', 'minlength')">
                                    {{'Common.ValidationMessage.MinLength' | translate}}
                                </mat-error>
                                <mat-error *ngIf="handleError('bankAccountNumber', 'maxlength')">
                                    {{'Common.ValidationMessage.MaxLength' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="{{'Common.Label.Address' | translate}}"
                                       formControlName="address" #address maxlength="255"/>
                                <mat-hint align="end">{{address.value?.length || 0}}/255</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{'Driver.Label.Driver' | translate}}">
                    <div fxLayout="row wrap">
                        <div fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="{{'Driver.Label.SocialSecurityNumber' | translate}}"
                                       formControlName="socialSecurityNumber" minlength="12" maxlength="12"/>
                                <mat-error *ngIf="handleError('socialSecurityNumber', 'minlength')">
                                    {{'Common.ValidationMessage.MinLength' | translate}}
                                </mat-error>
                                <mat-error *ngIf="handleError('socialSecurityNumber', 'maxlength')">
                                    {{'Common.ValidationMessage.MaxLength' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-card-actions align="end" fxLayoutGap.gt-xs="5px">
            <button mat-button (click)="location.back()">
                {{'Common.Button.Cancel' | translate }}
            </button>
            <button [disabled]="isLoading$ | async" mat-flat-button color="primary" (click)="submit()" *ngIf="!readOnly">
                {{'Common.Button.Save' | translate }}
            </button>
        </mat-card-actions>
    </mat-card>
</form>
