.overview-menu-category-list-summary {
  padding: 5px 10px;
  font-size: 1.5rem;
}

.overview-menu-category-list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    justify-content: center;
  }
}

.overview-menu-category-list-item {
  display: inline-block;
  margin: 8px;
  vertical-align: top;
  width: 280px;

  .mat-card-title {
    font-size: 1.4rem !important;
  }

  &, &:active, &:hover, &:focus {
    text-decoration: none;
  }
   &:hover {
     -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
     box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
   }
}

.overview-menu-category-list-card-summary {
  min-height: 2.4em;
  margin-bottom: 8px;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.54);
  line-height: unset !important;
}

.overview-menu-category-list-header {
  align-items: center;
  display: flex;
  padding-left: 20px;

  h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 50px;
  }
}

/**************/
.overview-menu-list-icon-spacer {
  flex: 1 1 auto;
}

.overview-menu-list-item-icon {
  color: #607d8b;
}
