/*******************
Main sidebar
******************/

.mat-drawer {
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
}

.sidebar-menu-container {
  margin: 15px 10px;

  button:focus {
    background: $light-text;
  }

  button {
    padding: 10px 10px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.5);
    border: none;

    &:focus {
      outline: none;
    }

    .collapsible-icon {
      position: absolute;
      right: 5px;
      font-size: 18px;
    }
  }

  hr {
    padding: 0;
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0 0 5px 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    font-size: 13px;
    line-height: 16px;
    margin: 0;
  }

  a {
    padding: 10px 15px;
    align-items: center;
    display: block;
    white-space: nowrap;
    color: $sidebar-text;
  }

  .selected {
    background: $light;
    color: $bodytext;
    font-weight: bold;
    //mat-icon{
    //  color:$white;
    //}
  }
}

mat-sidenav {
  width: 240px;
  padding-top: 0px;
}
