<mat-card>
    <mat-card-content>
        <div class="d-flex flex-wrap">
            <div>
                <mat-card-title>
                    {{'License.Label.Licenses' | translate}}
                </mat-card-title>
                <mat-card-subtitle>Operaciones sobre licencias</mat-card-subtitle>
            </div>
        </div>
        <app-license-list
                [editable]="false"
                [actionButtons]="extraButtons">
        </app-license-list>

        <ng-template #extraButtons let-item="item">
            <button mat-menu-item (click)="showContracts(item)">
                <mat-icon>visibility</mat-icon>
                {{'Contract.Button.ShowContracts' | translate}}
            </button>
            <button mat-menu-item (click)="showVehicles(item)">
                <mat-icon>visibility</mat-icon>
                {{'Vehicle.Button.ShowVehicles' | translate}}
            </button>
            <button mat-menu-item (click)="showDrivers(item)">
                <mat-icon>visibility</mat-icon>
                {{'Driver.Button.ShowDrivers' | translate}}
            </button>
        </ng-template>
    </mat-card-content>
</mat-card>
