<div fxLayout="row wrap" fxLayoutGap="10px">
    <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100">
        <app-search-box (onSubmit)="search($event)"></app-search-box>
    </div>
    <div fxFlex.gt-xs="calc(50%-10px)" fxFlex="100" *ngIf="editable" style="padding-top: 3px;">
        <a mat-flat-button color="accent" routerLink="add" *ngIf="editable">
            <mat-icon>add</mat-icon>
            {{'Common.Button.Add' | translate}}
        </a>
    </div>
</div>

<table mat-table [dataSource]="licenseList$ | async" class="table table-rasponsive" matSort matSortActive="code"
       matSortDirection="desc">

    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'License.Label.Code' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.code}}</td>
    </ng-container>

    <ng-container matColumnDef="issuesAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'License.Label.IssuesAt' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.issuesAt | date:'dd-MM-yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="expirationAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'License.Label.ExpirationAt' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.expirationAt | date:'dd-MM-yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="isOperative">
        <th mat-header-cell *matHeaderCellDef class="text-center">
            {{'License.Label.IsOperative' | translate}}
        </th>
        <td mat-cell *matCellDef="let row" class="text-center">
            <span *ngIf="row.isOperative; else noOperativa">Operativa</span>
            <ng-template #noOperativa>
                <span style="color: red;">No operativa</span>
            </ng-template>
        </td>
    </ng-container>

    <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef class="text-center">{{'Common.Label.Active' | translate}}</th>
        <td mat-cell *matCellDef="let row" class="text-center">
            <mat-icon *ngIf="row.removeAt; else activeIcon" matTooltip="{{'Common.Label.Inactive' | translate}}"
                      color="warn">
                remove_circle_outline
            </mat-icon>
            <ng-template #activeIcon>
                <mat-icon matTooltip="{{'Common.Label.Active' | translate}}">check</mat-icon>
            </ng-template>
        </td>
    </ng-container>


    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="col-action">{{'Common.Label.Action' | translate}}</th>
        <td mat-cell *matCellDef="let row" class="col-action">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item color="primary" (click)="editLicense(row)" *ngIf="editable">
                    <mat-icon>edit</mat-icon>
                    <span> {{'Common.Button.Edit' | translate}}</span>
                </button>
                <!-- Container for aditional buttons -->
                <ng-container *ngTemplateOutlet="actionButtons; context: {item: row}"></ng-container>
            </mat-menu>
        </td>
    </ng-container>

    <!-- Loading status row -->
    <ng-container matColumnDef="loading-status">
        <th mat-header-cell *matHeaderCellDef [colSpan]="displayedColumns.length" class="header-row-loading"
            [ngStyle]="{'display': (isLoading$ | async) ? 'table-cell' : 'none'}">
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>
        </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="['loading-status']" class="header-row-loading"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="licensesTotal$ | async" [pageSize]="initialPageSize"
               [pageSizeOptions]="[10, 25, 50, 100]">
</mat-paginator>
